<div class="row">
  <div class="col-xs-12 text-center">
    <h2>
      <span style="display: inline-block;">投稿一覧</span>
      <span style="display: inline-block;">（全<%= @posts.count %>件）</span>
    </h2>
  </div>
</div>

<div class="row post-list">
  <% @posts.each do |post| %>
    <% if post.genre.genre_status == true %>
      <div class="clearfix col-xs-4 post-item">
        <div class="post-item-image">
          <%= attachment_image_tag(post, :post_image, size: "350x300", fallback: 'no_image.jpg') %>
        </div>
        <div class="margin-base-2">
          <%= attachment_image_tag(post.user, :profile_image, size: "50x50", class: "img-circle iconimg-base1 ", fallback: 'no_image.jpg') %>
          <span class="post-item-username">by: <%= post.user.name %></span>
        </div>
        <span class="post-item-genre">
          <%= post.genre.name %>
        </span>
        <%= link_to post_path(post.id), :style=>"color: tomato;" do %>
          <h4 class="post-item-title">
            <span><%= post.title %></span>
          </h4>
        <% end %>

      </div>
    <% end %>
  <% end %>
</div>
