<div class="row">
  <div class="col-xs-12 newform-base-3">
    <h2 class="text-center">新規投稿</h2>
    <%= form_for(@post, url: posts_path, method: :post, class: "form-horizontal") do |f| %>
    <div class="col-xs-5">
      <%= attachment_image_tag(@post, :post_image, size: "400x320", fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' ) %>
      <div class="margintop-base-1"><%= f.attachment_field :post_image, class: "img_field pull-right" %></div>
    </div>

    <div class="col-xs-7">
      <div class="form-group">
  			<h4><%= f.label :"ジャンル", class: "control-label" %></h4>
        <div class="genres-select">
  			 <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
        </div>
			</div>
			<div class="form-group">
  			<h4><%= f.label :"タイトル", class: "control-label" %></h4>
  			<%= f.text_field :title, class: "col-xs-12 form-control" %>
			</div></br></br>
			<div class="form-group">
  			<h4><%= f.label :"本文", class: "control-label" %></h4>
  			<%= f.text_area :body, rows: 5, class: "col-xs-12 form-control" %>
			</div>
      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right btn-base-3 margintop-base-1" %>
      </div>
    </div>
    <% end %>
  </div>
</div>