<div class="row">
  <div class="col-xs-12 text-center">
    <h2>商品新規登録</h2>
  </div>
</div>

<div class="row">
  <!-- できたら後程プレビュー機能の追加 -->
  <%= form_for(@post, url: posts_path, method: :post, class: "form-horizontal") do |f| %>
    <div class="col-xs-5">
  	  <%= f.attachment_field :post_image, class: "post_image" %>
    </div>

    <div class="col-xs-7">
      <div class="form-group">
  			<h4><%= f.label :"ジャンル", class: "control-label" %></h4>
        <div class="genres-select">
  			 <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
        </div>
			</div>
			<div class="form-group">
  			<h4><%= f.label :"タイトル", class: "control-label" %></h4>
  			<%= f.text_field :title, class: "col-xs-12 form-control" %>
			</div></br></br>
			<div class="form-group">
  			<h4><%= f.label :"本文", class: "control-label" %></h4>
  			<%= f.text_area :body, rows: 6, class: "col-xs-12 form-control" %>
			</div>
      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right btn-base-2" %>
      </div>
    </div>
  <% end %>
</div>