<!-- 他のページに影響がでた為こちらに記述 -->
<style>
.checklist .bookmark {
  box-sizing: border-box;
  font-size: 62.5%;
  margin-bottom: 10px;
}
.btn,
a.btn,
button.btn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn-tag {
  padding: 1rem 1.5rem 0.5rem 50px;
}
a.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  content: "";
  border-radius: 0.5rem 0 0 0.5rem;
}
a.btn-tag--favorite {
  color: #fff;
  background: #f39800;
}
a.btn-tag--favorite:before {
  background: #fff;
}
a.btn-tag--favorite i {
  font-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  padding: 1.2rem 0;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0;
  opacity: 0.5;
  color: #f39800;
}
a.btn-tag--favorite:hover {
  background: #ffa50e;
}
a.btn-tag--favorite:hover i {
  transform: scale(1.1);
  opacity: 1;
}
/*投稿詳細のいいねとレビューのバッチ*/
.badge-1 {
  margin: 5px 0 10px 0;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.6));
}
.badge-1:hover {
  transform: translateY(4px);
  transition: all 0.3s;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  border-bottom: none;
}
</style>

<% if @post.genre.genre_status == true %>
<div class='row post-detail'>
	<div class="col-xs-5">
    <% if @post.user != current_user %>
    <div class="checklist">
      <!-- お気に入り -->
      <div class="bookmark">
		    <% if @post.favorited_by?(current_user) %>
          <a>
            <%= link_to post_favorites_path(@post), class: 'btn btn-tag btn-tag--favorite', method: :delete do %>
              <i class="fas fa-star"></i>お気に入りから外す
            <% end %>
          </a>
        <% else %>
          <a>
            <%= link_to post_favorites_path(@post), class: 'btn btn-tag btn-tag--favorite', method: :post do %>
              <i class="far fa-star"></i>お気に入り登録する
            <% end %>
          </a>
        <% end %>
      </div>
      <!-- イイね -->
      <div class="good">
        <% if @post.gooded_by?(current_user) %>
          <%= link_to post_goods_path(@post), :style=>"color: white;", method: :delete do %>
            <span class="glyphicon glyphicon-heart" style="color: red;"></span>
            <span class="badge badge-1"><%= @post.goods.count %>　イイね</span>
          <% end %>
        <% else %>
          <%= link_to post_goods_path(@post), :style=>"color: white;", method: :post do %>
            <span class="glyphicon glyphicon-heart-empty" style="color: red;"></span>
            <span class="badge badge-1"><%= @post.goods.count %>　イイね</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% else %>
      <!-- イイね -->
      <div class="good">
        <span class="glyphicon glyphicon-heart" style="color: red;"></span>
        <span class="badge disabled"><%= @post.goods.count %>　イイね</span>
      </div>
    <% end %>
    <!-- 評価 -->
    <div class="review">
      <%= link_to post_reviews_path(@post), :style=>"color: white;" do %>
        <span class="far fa-comment-dots" style="color: blue;"></span>
        <span class="badge badge-1"><%= @post.reviews.count %>　レビュー</span>
      <% end %>
      <!-- ここに☆評価を追加する -->
      <div class="average-review">
        <strong>総合評価：<%= @average_review %>点 | 平均</strong>
      </div>
      <span class="average-review-rating" data-score="<%= @average_review %>"></span>
    </div>
    <div class="review-postimage">
      <%= attachment_image_tag(@post, :post_image, size: "440x320", fallback: "no_image.jpg") %>
    </div>
  </div>

  <div class="col-xs-7 post-body">
    <h3 class="title"><%= @post.title %></h3><br>
    <h4>
      <span class="genre">
        <%= @post.genre.name %>
      </span>
    </h4>
    <div class="col-xs-10 content"><%= @post.body %></div>
  </div>
  <% if @post.user == current_user %>
    <td>
      <%= link_to post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger destroy_post_#{@post.id} pull-right btn-base-1 marginleft-base-1" do %>
        <span><i class="fas fa-trash"></i> 削除</span>
      <% end %>
    </td>
    <td>
      <%= link_to edit_post_path(@post), class: "btn btn-success edit_post_#{@post.id} pull-right btn-base-1" do %>
        <span><i class="far fa-edit"></i> 編集</span>
      <% end %>
    </td>
  <% end %>
</div>
<% end %>
<% if @post.genre.genre_status == true %>
  <% if @post.user != current_user %>
  <div class='row margintop-base-1'>
    <div class="col-xs-12 text-center newform-base-1">
    <h3><strong>新規レビュー</strong></h3>
      <%= form_for [@post,@review] do |f| %>
        <div id="star">
          <h4 class="star-label"><%= f.label :"評価", class: "control-label" %></h4>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <div class="form-review">
          <h4 class="label-1"><%= f.label :"見出し", class: "control-label" %></h4>
          <%= f.text_area :title, class: "form-control text" %>
        </div>
        <div class="form-review">
          <h4 class="label-1"><%= f.label :"レビュー", class: "control-label" %></h4>
          <%= f.text_area :review, rows:'6', class: "form-control text" %>
        </div>
        <%= f.submit "送信する", class: "btn btn-warning pull-right btn-base-3 margintop-base-2" %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<!-- 評価 -->
<script>
 $('#star').raty({
   size: 36,
   starOff: "<%= asset_path('star-off.png') %>",
   starOn: "<%= asset_path('star-on.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]',
   half: true,
 });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
