<div class="row">
	<div class="col-xs-12 text-center">
		<h2>
      <span class="fontshadow-1"><strong>マイページ</strong>
    </h2>
	</div>
  <%= render 'publics/users/profile', user: @user %>
	<div class="col-xs-9">
		<h3><i class="fas fa-pencil-alt"></i><strong class="underline-1">自分の投稿</strong></h3>
    <%= render 'publics/users/detail', posts: @posts %>
  </div>
  <div class= "text-center"><%= paginate(@posts) %></div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3><i class="fas fa-splotch"></i><strong class="underline-1">お気に入り</strong></h3>
    <%= render 'publics/users/favorite', favorites: @favorites %>
  </div>
  <div class= "text-center"><%= paginate(@favorites) %></div>
</div>