<div class="row">
	<div class="col-xs-12 text-center">
		<h2>マイページ</h2>
	</div>

	<div class="col-xs-3">
		<h3><strong>ユーザー情報</strong></h3>
		<table class="table table-hover table-bordered">
			<tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image2.jpg") %></tr>
			<tr>
				<th class="info user-form">ユーザー名</th>
				<th class="text-center"><%= @user.name %></th>
			</tr>
			<tr>
				<th class="info user-form">メールアドレス</th>
				<th class="text-center"><%= @user.email %></th>
			</tr>
		</table>
		<%= link_to " 編集", edit_users_path, class: "glyphicon glyphicon-wrench btn btn-success btn-base-2" %>
		<%= link_to " パスワードの変更", edit_user_password_path, class: "glyphicon glyphicon-cog btn btn-warning pull-right btn-base-2" %>
	</div>

	<div class="col-xs-9">
		<h3><strong>自分の投稿</strong></h3>
		<table class="table table-hover table-bordered">
			<thead>
				<tr class="info">
					<th class="image-form"></th>
					<th class="text-center">タイトル</th>
					<th class="text-center">ジャンル</th>
				</tr>
			</thead>

			<tbody>
				<% @user.posts.each do |post| %>
				<tr>
					<td class="text-center">
						<%= attachment_image_tag(post, :post_image, size: "60x40", fallback: "no_image.jpg") %>
					</td>
					<td class="text-center"><%= link_to post.title, post_path(post) %></td>
					<td class="text-center"><%= post.genre.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 favorite-group">
		<h3><strong>お気に入り</strong></h3>
			<table class="table table-hover table-bordered">
				<thead>
					<tr class="info">
						<th class="image-form2"></th>
						<th class="text-center favorite-font">タイトル</th>
						<th class="text-center favorite-font">ジャンル</th>
					</tr>
				</thead>

				<tbody>
					<% @favorites.each do |favorite| %>
					<tr>
						<td class="text-center">
							<%= attachment_image_tag(favorite.post, :post_image, size: "240x160", fallback: "no_image.jpg") %>
						</td>
						<td class="text-center favorite-font"><%= link_to favorite.post.title, post_path(favorite.post) %></td>
						<td class="text-center favorite-font"><%= favorite.post.genre.name %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	</div>
</div>