<div id="container-img">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<div id="new">
	<div class="row">
		<div class="col-xs-12">
			<h1><i class="far fa-lightbulb"></i> 新着</h1>
		</div>
		  <% @posts.each do |post| %>
    		<% if post.genre.genre_status == true %>
      		<div class="col-xs-3 post-item">
        		<div class="postimage">
          		<%= attachment_image_tag(post, :post_image, size: "250x210", fallback: 'no_image.jpg') %>
        		</div>
        		<div class="margintop-base-1">
          		<%= attachment_image_tag(post.user, :profile_image, size: "50x50", class: "img-circle iconimg-base-1 ", fallback: 'no_image.jpg') %>
          		<span class="username"><i class="fas fa-user"></i><%= post.user.name %></span>
        		</div>
        		<span class="genre">
          		<%= post.genre.name %>
        		</span>
        		<%= link_to post_path(post.id), :style=>"color: tomato;" do %>
          		<p class="title">
            		<span><%= post.title %></span>
          		</p>
        		<% end %>
      		</div>
    		<% end %>
  	  <% end %>
		<div class="col-xs-12">
			<a>
        <%= link_to posts_path, class: 'btn-emergency pull-right' do %>
          <span class="btn-emergency-bottom"></span>
          <span class="btn-emergency-top"><span class="">もっと見る</span></span>
        <% end %>
      </a>
		</div>
	</div>
</div>

<div id="ranking">
	<div class="row">
		<div class="col-xs-12">
			<h1><i class="fas fa-crown"></i> ランキング</h1>
		</div>
		  <% @all_ranks.each.with_index(1) do |ranking, i| %>
    		<% if ranking.genre.genre_status == true %>
      		<div class="col-xs-3 post-item">
      			<div class="">
      				<% if i == 1 %>
          			<h3><i class="fas fa-crown"></i>第<%= i %>位<i class="fas fa-crown"></i></h3>
        			<% elsif i == 2 %>
          			<h3><i class="fas fa-chess-queen"></i>第<%= i %>位<i class="fas fa-chess-queen"></i></h3>
        			<% elsif i == 3 %>
          		  <h3><i class="fas fa-chess-rook"></i>第<%= i %>位<i class="fas fa-chess-rook"></i></h3>
          		<% end %>
      			</div>
        		<div class="postimage">
          		<%= attachment_image_tag(ranking, :post_image, size: "250x210", fallback: 'no_image.jpg') %>
        		</div>
        		<div class="margintop-base-1">
          		<%= attachment_image_tag(ranking.user, :profile_image, size: "50x50", class: "img-circle iconimg-base-1 ", fallback: 'no_image.jpg') %>
          		<span class="fas fa-user username"><%= ranking.user.name %></span>
        		</div>
        		<span class="genre">
          		<%= ranking.genre.name %>
        		</span>
        		<%= link_to post_path(ranking.id), :style=>"color: tomato;" do %>
          		<p class="title">
            		<span><%= ranking.title %></span>
          		</p>
        		<% end %>
      		</div>
    		<% end %>
  	  <% end %>
		<div class="col-xs-12">
			<a>
        <%= link_to ranking_posts_path, class: 'btn-emergency pull-right' do %>
          <span class="btn-emergency-bottom"></span>
          <span class="btn-emergency-top"><span class="">もっと見る</span></span>
        <% end %>
      </a>
		</div>
	</div>
</div>
