<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2 class="fontshadow-1"><strong>ジャンル編集</strong></h2>
    </br>
    <%= form_for(@genre, url: admins_genre_path, method: :patch) do |f| %>
    <div>
      ジャンル<%= f.text_field :name %>
      <%= f.radio_button :genre_status, true %>
      <%= f.label :genre_status, "有効", {value: :true, style: "display: inline-block;"} %>
      <%= f.radio_button :genre_status, false %>
      <%= f.label :genre_status, "無効", {value: :false, style: "display: inline-block;"} %>
      <%= f.submit "変更を保存する", class: "btn btn-success btn-3" %>
    </div>
    <% end %>
    </br>
    <%= link_to admins_genres_path, class: "btn btn-info btn-3" do %>
      <span><i class="fas fa-reply"></i> ジャンル一覧に戻る</span>
    <% end %>
  </div>
</div>
