<section class="slice slice-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-user rounded has-shadow">
          <div class="form-header text-center">
            <h2 class="form-header-title"><%= @user.name %>さんの<br>ユーザー情報編集</h2>
          </div>
          <div class="form-body">
            <%= form_with(model: @user, url:admins_user_path(@user), local: true, method: :patch) do |f| %>
            <div class="form-group has-icon">
              <%= attachment_image_tag(@user, :profile_image, size: "100x100", fallback: 'no_userimage.jpg', onClick: "$('.img_field').click()", class: 'img-circle center-block img-thumbnail img-responsive img_prev') %>
              <%= f.attachment_field :profile_image, class: "img_field" %>
            </div>
            <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputName">Name</label>
                <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"ユーザー名"%>
                <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
            </div>
            <div class="form-group has-icon">
              <label class="control-label sr-only" for="inputEmail">Email</label>
              <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
              <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
            </div>
            <div class="form-group has-icon">
              <label class="control-label">有効ステータス：</label>
                <td><%= f.radio_button :user_status, false %><%= f.label :user_status, "有効", class: "text-active" %></td>
                <td><%= f.radio_button :user_status, true %><%= f.label :user_status, "退会済み", class: "text-invalid" %></td>
            </div>
            <div class="">
              <%= link_to admins_user_path(@user), class: "btn-base-3 btn btn-info" do %>
                <span><i class="fas fa-reply"></i> ユーザー詳細に戻る</span>
              <% end %>
              <%= f.submit '保存する', class:'btn btn-success btn-base-3' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



















