<div class="col-xs-3">
	<h3><span class="underline-1 fontshadow-1"><i class="fas fa-search"></i><strong>ジャンル</strong></h3>
		<% genres.each do |genre| %>
      <% if genre.genre_status == true %>
				<%= form_with(url: posts_path, method: :get, local: :true) do |f| %>
					<div class="fontweight-1 mt-1">
          	<%= f.hidden_field :search, value:genre.id %>
          	<%= f.submit genre.name, class: "genre_name_button" %>
        	</div>
      	<% end %>
      <% end %>
    <% end %>
    <div class="mt-1">
      <%= link_to "⇒ すべての投稿を見る", admins_posts_path, class: 'dark-blue-letter' %>
    </div>
  <div class="pagination"><%= paginate(genres) %></div>
</div>