<div class="row">
  <div class="col-xs-12 text-center">
    <h2>ランキング一覧</h2>
  </div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<table class="table table-hover table-inverse table-bordered">
			<thead>
				<tr class="info">
					<th>順位</th>
					<th>イイね総数</th>
					<th>タイトル</th>
					<th>ジャンル</th>
					<th>ユーザー名</th>
					<th>投稿日</th>
				</tr>
			</thead>
			<tbody>
				<% @all_ranks.each.with_index(1) do |ranking, i| %>
					<tr class="form-base-4">
						<td>第<%= i %>位</td>
						<td><%= ranking.goods.count %></td>
						<td>
							<%= link_to admins_post_path(ranking.id) do %>
            		<span><%= ranking.title %></span>
            	<% end %>
            </td>
						<td><%= ranking.genre.name %></td>
						<td><%= ranking.user.name %></td>
						<td><%= l ranking.created_at, format: :default %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
