<section class="slice slice-lg sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-user rounded has-shadow">
          <div class="form-header text-center">
            <h2 class="form-header-title">ログインページ</h2>
          </div>

          <div class="form-body">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <div class="text-center">
                  <p><strong>会員登録済みの方</strong></p>
                </div>
              </div>
            </div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group has-icon">
              <label class="control-label sr-only" for="inputEmail">Email</label>
              <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
              <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
            </div>
            <div class="form-group has-icon">
              <label class="control-label sr-only" for="inputPassword">Password</label>
              <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
              <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
            </div>

            <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
            <% end %></br></br>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <div class="text-center">
                  <p><strong>会員登録がお済みでない方は<br>
                  <%= link_to "こちら", new_user_registration_path %>から会員登録を行ってください</strong></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
