<div class='row'>
	<div class="col-xs-12 text-center">
		<h2>レビュー一覧</h2>
	</div>
	<div class="col-xs-12">
		<% @post.reviews.each do |review| %>
		<div class="balloon5">
  		<div class="faceicon">
    		<%= attachment_image_tag(review.user, :profile_image, :fill, 100, 100, class: "faceicon-img", fallback: "no_image2.jpg") %>
    		<p class="fontsize-base1"><%= review.user.name %></p>
  		</div>
  		<div class="chatting">
    		<div class="says">
    			<p class="fontweight-base1"><%= l review.created_at, format: :short %></p>
    			<p class="fontweight-base1">評価：<%= review.rate %></p>
      		<p class="review-rating" data-score="<%= review.rate %>"></p>
					<p class="fontweight-base1"><%= review.title %></p>
					<p class=""><%= review.review %></p>
					<% if review.user == current_user %>
						<div class='review-group-destroy'>
							<%= link_to "削除", post_review_path(review.post, review), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "glyphicon glyphicon-trash destroy-button pull-right" %>
						</div>
					<% end %>
				</div>
    		<%= attachment_image_tag(review.post, :post_image, size: "150x150", class: "posticon-img", fallback: "no_image2.jpg") %>
  		</div>
		</div>
		<% end %>
	</div>
</div>
<script>
  $('.review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>